<div class="bg-white border drop-shadow-lg p-16 rounded-2xl">
  <p class="text-2xl mb-4 font-bold">Airline Reservation System</p>
  <form
    class="mt-8 flex flex-col items-center"
    [formGroup]="form"
    (ngSubmit)="handleSubmit()"
  >
    <div class="flex flex-col w-full">
      <label>Email</label>
      <input type="text" class="input-text" formControlName="email" />
      <span
        class="text-red-600"
        *ngIf="form.get('email')?.errors?.['required'] && form.touched "
      >
        Email is required!
      </span>
      <span
        class="text-red-600"
        *ngIf="form.get('email')?.errors?.['email'] && form.get('email')?.touched"
      >
        Email should be valid!
      </span>
    </div>
    <div class="flex flex-col w-full mt-4">
      <label>Password</label>
      <input type="password" class="input-text" formControlName="password" />
      <span
        class="text-red-600"
        *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched"
      >
        Password is required!
      </span>
    </div>
    <button
      type="submit"
      class="button-primary !w-full mt-4"
      [disabled]="form.invalid"
    >
      Sign In <span *ngIf="loading">Loading...</span>
    </button>
    <p class="text-sm mt-4">
      Don't have an account?
      <a routerLink="sign-up" class="font-bold hover:underline">Create now</a>
    </p>
  </form>
</div>
