<div class="bg-white border drop-shadow-lg p-16 rounded-2xl">
  <p class="text-2xl mb-4 font-bold">Airline Reservation System</p>
  <form
    class="mt-8 flex flex-col items-center"
    [formGroup]="form"
    (ngSubmit)="handleSubmit()"
  >
    <div class="flex flex-col w-full">
      <label>Email</label>
      <input type="text" class="input-text" formControlName="email" />
      <span
        class="text-red-600"
        *ngIf="form.get('email')?.errors?.['required'] && form.touched "
      >
        Email is required!
      </span>
      <span
        class="text-red-600"
        *ngIf="form.get('email')?.errors?.['email'] && form.get('email')?.touched"
      >
        Email should be valid!
      </span>
    </div>
    <div class="flex flex-col w-full mt-4">
      <label>First Name</label>
      <input type="text" class="input-text" formControlName="firstName" />
      <span
      class="text-red-600"
      *ngIf="form.get('firstName')?.errors?.['required'] && form.get('firstName')?.touched"
    >
      First name is required!
    </span>
    </div>
    <div class="flex flex-col w-full mt-4">
      <label>Last Name</label>
      <input type="text" class="input-text" formControlName="lastName" />
      <span
      class="text-red-600"
      *ngIf="form.get('lastName')?.errors?.['required'] && form.get('lastName')?.touched"
    >
      Last Name is required!
    </span>
    </div>
    <div class="flex flex-col w-full mt-4">
      <label>Password</label>
      <input type="password" class="input-text" formControlName="password" />
      <span
      class="text-red-600"
      *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched"
    >
      Password is required!
    </span>
    </div>
    <button
      type="submit"
      class="button-primary !w-full mt-4"
      [disabled]="form.invalid"
    >
      Sign Up
    </button>
    <p class="text-sm mt-4">
      Already have an account?
      <a routerLink="" class="font-bold hover:underline">Sign in</a>
    </p>
  </form>
</div>
